{
    "extends": ["eslint"],
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-console": 0,
        "require-jsdoc": 0
    }
}
